/* BASICS */
body {
    margin:0 auto;
    width:98%;
    max-width:900px;
    color:#222;
    background-color:#fff;
    font-family:"freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
}
a:link,a:visited {
    color:#683D81;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    color:#1F0032;
}
h2 {

}

/* UI */
#longposts,#longposts a {
    color:#000;
}

#navigation {

}

/* LONGPOSTS */
.article {
    margin-bottom:6em;
    line-height:1.4em;
}

.meta-top {
    
}

.author-avatar {
    float:left;
    border-radius:3px;
    width:45px;
    height:45px;
    margin-right:.5em;
}
.author-name,.author-permalink {
    padding:0;
    margin:0;
}
.author-permalink a {
    color:#888;
}
.author-permalink a:hover {
    color:#555;
}

.title a,.title {
    color:#111;
    text-shadow:1px 1px 0 #ccc;
    clear:both;
    font-family:sans-serif;
}
.body {
    
}

.meta-bottom {
    font-family:sans-serif;
}
.article-more {
    
}
.article-reading-time {
    color:#579657;
}

/* SINGLE VIEW */
.single-article {
    
}
.single-article img {
    max-width:900px;
}

/* REPLIES */
.reply {
    padding-left:50px;
    clear:left;
}
.reply-avatar {
    margin-left:-50px;
    float:left;
}
.reply-username {
    font-weight:bold;
    
}